{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7 mb-5">
      <img src="/media/{{ object.image }}" width="100%" height="513px">
    </div>
    
      <div class="col-md-5">
          <div class="mb-3">
            <span class="badge badge-dark">{{ object.title }}</span>
          </div>
          <p class="lead">
            {% if object.discount_price %}
              <span class="mr-1">
                <del>${{ object.price }}</del>
              </span>
              <span>${{ object.discount_price }}</span>
            {% else %}
              <span>${{ object.price }}</span>
            {% endif %}
          </p>
            <p class="lead font-weight-bold">Description</p>
              <p class="text-justify"><em>{{ object.description }}</em></p>
                <a href="{{ object.get_add_to_cart_url }}" class="btn btn-success font-weight-bold">
                    ADD TO CART
                  <i class="fa fa-shopping-cart ml-1"></i>
                </a>

                <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger font-weight-bold">
                    REMOVE FROM CART
                  <i class="fa fa-trash ml-1"></i>
                </a>
          </div>

          <div>    
          <hr>
            <div class="row justify-content-center">
              <div class="col-md-6 text-center">
                <h3 class="my-4">Additional Information</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit voluptates, quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
              </div>
            </div>
        </div>

      </div>
    </div>
{% endblock content %}
